Repository MarcoOquendoC/Laptop-Station-Backend, pull requests merged in 2023-03, with the labels that each got.

#16 Final group capstone: set up your Kanban board
  LICENSE
  README.md
Labels: documentation, Setup, Rails, Gitflow

#18 Feature/database configuration
  Gemfile
  Gemfile.lock
  config/database.yml
Labels: Setup, Rails, Data, PostgreSQL

#19 Feature/devise
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/current_user_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/serializers/user_serializer.rb
  config/environments/development.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/puma.rb
  config/routes.rb
  db/migrate/20230307040725_devise_create_users.rb
  db/migrate/20230307164330_add_jti_to_users.rb
  db/schema.rb
  db/seeds.rb
  test/controllers/current_user_controller_test.rb
  test/fixtures/users.yml
  test/models/user_test.rb
Labels: Rails, Devise, Authentication, PostgreSQL

#21 Correct errors handling cookie sessions
  config/application.rb
Labels: Devise, Authentication, Authorizations

#23 Rspec
  .rspec
  Gemfile
  Gemfile.lock
  app/models/user.rb
  spec/models/item_spec.rb
  spec/models/reserve_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
Labels: Testing, Rspec

#25 Authentication method
  Gemfile
  app/controllers/application_controller.rb
  db/seeds.rb
Labels: enhancement, Rails, Devise, Authentication, Authorizations

#26 Update reserves controller to send required information to front
  Gemfile
  app/controllers/reserves_controller.rb
Labels: Rails, Controllers

#29 Fix items controller
  app/controllers/items_controller.rb
  app/models/item.rb
  db/migrate/20230307211000_create_items.rb
  db/schema.rb
  db/seeds.rb
Labels: Authentication
